/*Background CSS*/

body {
    background-image: url('../img/bckg.jpg');
    background-size: cover;
}

.judul{
    text-align: center;
    margin-top: 100px;
}

.logo-1{
    color:#00BFFF;
}
.logo-2{
    color: white;
}

.garis{
    width: 150px;
    border-top: 4px solid 	white;
    margin-top: 10px;
}

.table{
    opacity: 0.8;
    background-color: #252525;
}

.font{
    width: 300px;
    text-align: center;
}

.search{
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    height: 750px;
    width: 80%;
    background-color: silver;
    opacity: 70%;
    position: center;
}

.template{
    margin: 5%;
    background-color: slategray;
    opacity: 98%;
    width: 90%;
    height: 90%;
}