/*Background CSS*/

body {
    background-image: url('../img/12.jpg');
    background-size: cover;
}

.judul{
    text-align: center;
    margin-top: 100px;
}

.logo-1{
    color:#00BFFF;
}
.logo-2{
    color: white;
}

.garis{
    width: 150px;
    border-top: 4px solid 	white;
    margin-top: 10px;
}

.table{
    opacity: 0.8;
    background-color: #252525;
}

.font{
    width: 300px;
    text-align: center;
}