/*Background CSS*/

body{
    background-color: #323232;
}

.logo-1{
    color:#00BFFF;
}
.logo-2{
    color: white;
}

.jumbotron{
    background-image: url('../img/37.jpg'); 
    background-size: cover; 
    height: 300px;
}

.icon-heart{
    font-size: 200px; 
    color: #FF1493; 
    margin-top: 10px;
}

.h-1{
    margin-top: 20px; 
    font-size: 50px;
}

.text{
    font-size: 20px; 
    color: #bfbfbf;
}